.NavBar a {
    color: white;
    text-decoration: none;  
 }
.NavBar a.active {
    color:#dc3545;
}
.NavBar a:hover {
    color:#dc3545;
    text-decoration: none;
}

.NavBar button {
    color: white;
    text-decoration: none;  
 }

.NavBar button:hover {
    color:#dc3545;
    text-decoration: none;
}

#logo {
    color: #dc3545;
    text-decoration: none; 
}

